Tank Water Level Detection/flows.json
[{"id":"58143f9c608795b9","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"8554b458494cfe63","type":"mqtt in","z":"58143f9c608795b9","name":"","topic":"sensor/ultrasonic","qos":"2","datatype":"auto-detect","broker":"295e02eb7fe519a2","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":120,"wires":[["fd8d2c7c5563ec5a","e8788e28bed6e51d"]]},{"id":"fd8d2c7c5563ec5a","type":"debug","z":"58143f9c608795b9","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":80,"wires":[]},{"id":"e8788e28bed6e51d","type":"function","z":"58143f9c608795b9","name":"function 1","func":"var inputValue = msg.payload;\nvar numberValue = Number(inputValue);\nvar result = 160 - numberValue;\n\nmsg.payload = result;\n\nmsg.payload = msg.payload * 1.00; \n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":200,"wires":[["3198e9b9b17bbfed","b7b0b7828a17494b","65991643731a1d59"]]},{"id":"3198e9b9b17bbfed","type":"debug","z":"58143f9c608795b9","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":180,"wires":[]},{"id":"65991643731a1d59","type":"ha-sensor","z":"58143f9c608795b9","name":"Tank_Fl_7","entityConfig":"adb82e7907b0db5b","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":460,"y":300,"wires":[[]]},{"id":"699c8cdb8e896b48","type":"inject","z":"58143f9c608795b9","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":460,"wires":[["1abf491487354430"]]},{"id":"1abf491487354430","type":"api-call-service","z":"58143f9c608795b9","name":"Ming","server":"f55a86d7.196b48","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_21121210g","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Warning\",\"message\":\"Tank FL 7 OUT OF WATER!!!\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","x":510,"y":420,"wires":[[]]},{"id":"b7b0b7828a17494b","type":"function","z":"58143f9c608795b9","name":"function 2","func":"if (msg.payload < 100) {\n    return msg;\n} else {\n    return null; // Do nothing if the value is not less than 100\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":380,"wires":[["1abf491487354430"]]},{"id":"295e02eb7fe519a2","type":"mqtt-broker","name":"","broker":"192.168.0.250","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"adb82e7907b0db5b","type":"ha-entity-config","server":"f55a86d7.196b48","deviceConfig":"","name":"Tank_Fl_7","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Tank_Fl_7"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"aqi"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"f55a86d7.196b48","type":"server","name":"Home Assistant","addon":true}]